<div class="mb-3">
  <label for="name" class="form-label">Nombre</label>
  <input type="text" class="form-control" id="name-EN" name="name-EN" <% if(content) { %> value="<%- content.en.name %> " <% } %> required>
</div>

<div class="mb-3" style="display: none;">
  <input type="text" class="form-control" id="subcategories-EN" name="subcategories-EN">
</div>

<label for="subcategories" class="form-label">Subcategoría</label>
<div class="subcategoriesContainer-EN mb-3" id="subcategoriesContainer-EN">
  <% if(content) for (i = 0; i < content.en.subcategories.length; i++){%>
  <div class="subcategorieBase-EN mb-3 d-flex" id="<%- "subcategorie-"+i +"-EN"%>">
    <input type="text" class="subcategorieAdded-EN form-control" value="<%- content.en.subcategories[0]">
    <div class="btn btn-danger deletesubcategorie-EN" id="<%- "subcategorieBTN-"+i +"-EN"%>">-</div>
  </div>
  <% } %>
</div>

<div class="mb-3">
  <div class="btn btn-primary" id="addsubcategorie-EN">Añadir subcategoría +</div>
</div>

<div class="mb-3" style="display: none;">
  <input type="text" class="form-control" id="subsubcategories-EN" name="subsubcategories-EN">
</div>

<label for="subsubcategories" class="form-label">Subsubcategoría</label>
<div class="subsubcategoriesContainer-EN mb-3" id="subsubcategoriesContainer-EN">
  <% if(content) for (i = 0; i < content.en.subsubcategories.length; i++){%>
  <div class="subsubcategorieBase-EN mb-3 d-flex" id="<%- "subsubcategorie-"+i+"-EN" %>">
    <input type="text" class="subsubcategorieAdded-EN form-control" value="<%- content.en.subsubcategories[0]">
    <div class="btn btn-danger deletesubsubcategorie-EN" id="<%- "subsubcategorieBTN-"+i+"-EN" %>">-</div>
  </div>
  <% } %>
</div>

<div class="mb-3">
  <div class="btn btn-primary" id="addsubsubcategorie-EN">Añadir subsubcategoría +</div>
</div>

<script>
  function en() {
    const subcategoriesBase = document.getElementById("subcategoriesContainer-EN");

    [...subcategoriesBase.getElementsByClassName("deletesubcategorie-EN")].map(c => {
      c.addEventListener("click", (ev) => {
        const cmd = document.getElementById(c.id.replace("BTN", ""))
        cmd.remove()
      })
    })

    const add = document.getElementById("addsubcategorie-EN")
    add.addEventListener("click", (ev) => {
      const subcategorieContainer = document.getElementById("subcategoriesContainer-EN")
      const subcategorieBase = document.createElement("div")
      const subcategorieInput = document.createElement("input")
      const subcategorieDel = document.createElement("div")
      subcategorieBase.className = "subcategorieBase-EN mb-3 d-flex"
      subcategorieBase.id = "subcategorie-" + [...subcategoriesBase.getElementsByClassName("subcategorieAdded-EN")].length + "-EN"
      subcategorieContainer.insertAdjacentElement("beforeend", subcategorieBase)
      subcategorieInput.className = "subcategorieAdded-EN form-control"
      subcategorieBase.insertAdjacentElement("afterbegin", subcategorieInput)
      subcategorieDel.className = "btn btn-danger deletesubcategorie-EN"
      subcategorieDel.textContent = "-"
      subcategorieDel.id = "subcategorieBTN-" + [...subcategoriesBase.getElementsByClassName("subcategorieAdded-EN")].length + "-EN"
      subcategorieBase.insertAdjacentElement("beforeend", subcategorieDel)
      subcategorieDel.addEventListener("click", (ev) => {
        const cmd = document.getElementById(subcategorieBase.id.replace("BTN", ""))
        cmd.remove()
      })
    })

    setInterval(() => {
      const subcategoriesBase = document.getElementById("subcategoriesContainer-EN")
      const subcategories = [...subcategoriesBase.getElementsByClassName("subcategorieAdded-EN")].filter(c => c.value.trim() != "").map(c => c.value.trim())
      const subcategorieInput = document.getElementById("subcategories-EN")
      subcategorieInput.value = subcategories.join(",")
    }, 10);

    const subsubcategoriesBase = document.getElementById("subsubcategoriesContainer-EN");

    [...subsubcategoriesBase.getElementsByClassName("deletesubsubcategorie-EN")].map(c => {
      c.addEventListener("click", (ev) => {
        const cmd = document.getElementById(c.id.replace("BTN", ""))
        cmd.remove()
      })
    })

    const addsub = document.getElementById("addsubsubcategorie-EN")
    addsub.addEventListener("click", (ev) => {
      const subsubcategorieContainer = document.getElementById("subsubcategoriesContainer-EN")
      const subsubcategorieBase = document.createElement("div")
      const subsubcategorieInput = document.createElement("input")
      const subsubcategorieDel = document.createElement("div")
      subsubcategorieBase.className = "subsubcategorieBase-EN mb-3 d-flex"
      subsubcategorieBase.id = "subsubcategorie-" + [...subsubcategoriesBase.getElementsByClassName("subsubcategorieAdded-EN")].length + "-EN"
      subsubcategorieContainer.insertAdjacentElement("beforeend", subsubcategorieBase)
      subsubcategorieInput.className = "subsubcategorieAdded-EN form-control"
      subsubcategorieBase.insertAdjacentElement("afterbegin", subsubcategorieInput)
      subsubcategorieDel.className = "btn btn-danger deletesubsubcategorie-EN"
      subsubcategorieDel.textContent = "-"
      subsubcategorieDel.id = "subsubcategorieBTN-" + [...subsubcategoriesBase.getElementsByClassName("subsubcategorieAdded")].length + "-EN"
      subsubcategorieBase.insertAdjacentElement("beforeend", subsubcategorieDel)
      subsubcategorieDel.addEventListener("click", (ev) => {
        const cmd = document.getElementById(subsubcategorieBase.id.replace("BTN", ""))
        cmd.remove()
      })
    })

    setInterval(() => {
      const subsubcategoriesBase = document.getElementById("subsubcategoriesContainer-EN")
      const subsubcategories = [...subsubcategoriesBase.getElementsByClassName("subsubcategorieAdded-EN")].filter(c => c.value.trim() != "").map(c => c.value.trim())
      const subsubcategorieInput = document.getElementById("subsubcategories-EN")
      subsubcategorieInput.value = subsubcategories.join(",")
    }, 10);
  }
  en()
</script>