<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nasgar | Ordenes</title>
  <link rel="shortcut icon" href="/img/logo-128x.png" type="image/x-icon">
  <meta property="og:type" content="website">
  <meta name="theme-color" content="#36A2DF">
  <meta property="og:site_name" content="Nasgar.online">
  <meta name="og:title" content="Nasgar Network | Ordenes">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="og:icon" content="/img/logo-128x.png">
  <meta name="description" content="description">
  <meta name="og:description" content="description">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/panel.css">
  <link rel="stylesheet" href="/css/sup.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <%- include('./templates/nav.ejs') %>
  <div class="left-container unactive" id="left-container">
    <div class="leftBTNC">
      <i id="leftBTN" class="fa-solid fa-forward-step"></i>
    </div>
    <% if(user.admin) {%>
    <ul>
      <hr>
      <li><a class="optionTitle1" href="/panel">Inicio</a></li>
      <li><a class="optionTitle1" href="/panel/news">Noticias</a></li>
      <li><a class="optionTitle1" href="/panel/shop">Tienda</a></li>
      <li><a class="optionTitle1" href="/panel/timings">StaffTimings</a></li>
      <li><a class="optionTitle1" href="/panel/orders">Ordenes</a></li>
      <li><a class="option1" href="/panel/orders">Todas las ordenes</a></li>
      <hr>

    </ul>
    <% } else { %>
    <ul>

    </ul>
    <% } %>

  </div>
  <main>
    <div class="row">
      <% if(type=='main' ){ %>
      <div class="col-12">
        <a href="/panel" class="btn btn-primary"><i class="fa-solid fa-arrow-left"></i> Atrás</a>
      </div>
      <form action="/panel/orders/user" method="get" class="col-12 d-flex">
        <input type="text" name="username" placeholder="Username" class="form-control">
        <input type="submit" value="Buscar" class="btn btn-primary">
      </form>

      <div class="col-12">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Orden ID</th>
              <th scope="col">Usuario</th>
              <th scope="col">Pagado</th>
              <th scope="col">Usado</th>
              <th scope="col">Administrar</th>
            </tr>
          </thead>
          <tbody>
            <% content.forEach(item=>{ %>
            <tr>
              <td>
                <%- item.id %>
              </td>
              <td>
                <%- item.user %>
              </td>
              <td>
                <%- item.used ? "Si" : "No"%>
              </td>
              <td>
                <%- item.paid ? "Si" : "No"%>
              </td>
              <td><a href="<%- `/panel/orders/${item.id}` %>" class="btn btn-outline-primary">Administrar</a>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
      <% } else if (type=='manage' ){%>
      <div class="col-12">
        <a href="/panel/orders" class="btn btn-primary"><i class="fa-solid fa-arrow-left"></i> Atrás</a>
      </div>

      <div class="col-12">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Usuario</th>
              <th scope="col">Orden ID</th>
              <th scope="col">Usado</th>
              <th scope="col">Pagado</th>
              <th scope="col">Productos</th>
              <th scope="col">Total</th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <%- content.user %>
              </td>
              <td>
                <%- content.id %>
              </td>
              <td>
                <%- content.used ? "Si" : "No"%>
              </td>
              <td>
                <%- content.paid ? "Si" : "No"%>
              </td>
              <td>
                <%- content._doc.products.length%>
              </td>

              <td>
                $<%- content._doc.products.reduce((acc,next)=>{ return acc += next.price}, 0)%>
              </td>
            </tr>
          </tbody>
        </table>
      </div>



      <div class="col-12">
        <br>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Item ID</th>
              <th scope="col">Nombre</th>
              <th scope="col">Precio</th>
              <th scope="col">Previsualizar</th>
              <th scope="col">Administrar</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <% content._doc.products.forEach(product =>{ %>
              <td><%- product.id %> </td>
              <td><%- product[content._doc.userLang].name %></td>
              <td>$<%- product.price %></td>
              <td> <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-<%- product.id %> ">
                  Previsualizar
                </button></td>
              <td><a type="button" class="btn btn-outline-primary" href="/panel/shop/<%- product.id %>">
                Administrar
              </a></td>


              <div class="modal" id="modal-<%- product.id %>">
                <div class="modal-dialog modal-dialog-centered" style="margin-right: 50% !important; width: 1000px !important;">
                  <div class="modal-body">
                    <iframe width="1000" height="600" src="/panel/shop/<%- product.id %>" allowfullscreen></iframe>
                  </div>
                </div>
              </div>

              <% }) %>
            </tr>
          </tbody>
        </table>
      </div>



      <% } %>
    </div>
    <div class="separator"></div>
  </main>
  <script>
    const leftBTN = document.getElementById("leftBTN")
    const left = document.getElementById("left-container")
    left.addEventListener('click', () => {
      if (left.classList.contains('active')) left.classList.replace('active', 'unactive')
      else left.classList.replace('unactive', 'active')
    })
  </script>
</body>

</html>