<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nasgar | Tienda</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/panel.css">
  <link rel="stylesheet" href="/css/sup.css">
  <link rel="shortcut icon" href="/img/logo-128x.png" type="image/x-icon">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Nasgar.online">
  <meta name="og:title" content="Nasgar Network | Tienda">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="og:icon" content="/img/logo-128x.png">
  <meta name="description" content="description">
  <meta name="og:description" content="description">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <style>
    li p {
      margin-top: 20px;
      margin-bottom: 0px;
      color: rgba(240, 248, 255, 0.507);
    }

    ul li {
      margin: 0px 10px;
      text-align: left !important;
    }

    .categoryT,
    .categoryT2 {
      color: rgba(240, 248, 255, 0.507);
      padding: 0px !important;
    }

    .categorySub1 a {
      margin: 0px 10px 0px 15px;

    }

    .categorySub1 {
      padding-bottom: 0px !important;
    }

    .categorySub2 a {
      margin: 0px 10px 0px 25px;

    }

    .categorySub2 {
      padding-bottom: 0px !important;
    }

    .categoryT2 {
      margin: 0px 10px 0px 25px !important;
    }


    .card-body {
      transition-duration: 0.3s;
    }

    .card-body:hover {
      bottom: 30px;
      transform: translateY(-10px);
      font-weight: bolder !important;
    }

    .left-container {
      overflow-y: scroll;
    }

    ::-webkit-scrollbar {
      width: 7px;
    }

    ::-webkit-scrollbar-thumb {
      background: #1F4068;
    }

    @media (max-width: 768px) {
      li p {
        font-size: 15px;
      }

      .cart-item .col-2,
      .cart-item .col-5,
      .cart-item .col-1 {
        display: flex !important;
        width: 100%;
        text-align: center !important;
        justify-content: center !important;
        align-items: center !important;
      }

      .cart-item .col-2 {
        margin-bottom: 10px !important;
      }

    }
  </style>
  <script src="https://www.paypal.com/sdk/js?client-id=<%- paypalClient %>&components=buttons"></script>

  <script>
    var userLang = navigator.language || navigator.userLanguage;

    function removeItem(id) {
      let deleted = false
      cart.forEach((e, i) => {
        if (e.product.id == id && !deleted) {
          cart[i] = null
          deleted = true
        }
      });
      cart = cart.filter(e => e != null)
      const cartBody = document.getElementById("cartBody");

      [...document.getElementsByClassName("cart-item")].map(c => c.remove())

      const unrealCart = new Map()

      cart.forEach(p => {
        if (unrealCart.has(p.product.id)) {
          const v = unrealCart.get(p.product.id)
          v.quantity += 1
          unrealCart.set(p.product.id, v)
        } else {
          p.quantity = 1
          unrealCart.set(p.product.id, p)
        }
      })



      unrealCart.forEach(p => {
        var html = `          <div class="cart-item row" id="${p.product.id}">
            <hr>
            <div class="cart-img col-2">
              <img src="${p.product.es.image}" alt="" width="64" height="64">
            </div>
            <div class="col-5 cart-text" style="display: flex; justify-content: left; align-items: center;">
              <div>
                <strong>${p.product.es.name}</strong>
                <p style="font-weight: lighter !important;">${p.product.es.description.length >= 20 ?  p.product.es.description.slice(0,20)+"..." : p.product.es.description}</p>
              </div>
            </div>
            <div class="col-2" style="display: flex; justify-content: center; align-items: center;">
              <p>$${p.product.price}</p>
            </div>
            <div class="col-1" style="display: flex; justify-content: center; align-items: center; text-align:center">
              <p>x${p.quantity}</p>
            </div>
            <div class="col-2" style="display: flex; justify-content: center; align-items: center;">
              <div class="deleteCartItem btn btn-danger cid-${p.product.id}" onclick=removeItem(${p.product.id})>
                -
              </div>
            </div>
            <hr>
          </div>`;
        cartBody.insertAdjacentHTML('afterbegin', html)
      })



      cartPrice.textContent = `Total Price: $${cart.reduce((prev,now)=>{
      return prev += now.product.price
    }, 0)}`
    }
  </script>


  <% if(!translate && user) {%>
  <script>
    userLang = user.lang
  </script>
  <% } %>

  <% if(!user && !translate){ %>
  <script type="text/javascript">
    var userLang = navigator.language || navigator.userLanguage;
    if (userLang.toLowerCase().includes('es')) window.location.assign('/shop?lang=es')
  </script>
  <% } %>


  <style>
    .cart-icon {
      background-color: #4f85c8;
      width: 50px;
      height: 50px;
      position: fixed;
      bottom: 50px;
      right: 50px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      text-align: center;
      transition-duration: 0.3s;
      z-index: 30;
    }

    .cart-number {
      position: absolute;
      top: -2px;
      left: 0px;
      border-radius: 100%;
      background-color: #1F4068;
      width: 17px;
      height: 17px;
      text-align: center;
      justify-content: center;
      align-items: center;
      font-size: 13px;
    }

    .cart-icon:hover {
      width: 55px;
      height: 55px;
    }

    .modal-body * {
      margin: 0px !important;
    }

    .modal-body img {
      margin: 10px 0px !important;
    }

    .cart-text p {
      font-weight: lighter !important;
    }
  </style>

</head>

<body>

  <div class="cart-icon" data-bs-toggle="modal" data-bs-target="#cartModal">
    <i class="fa-solid fa-cart-shopping"></i>
    <div class="cart-number" id="cart-number">0</div>
  </div>


  <div class="modal fade" id="cartModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Your Cart</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="cartBody">
        </div>
        <div class="modal-footer">
          <p id="cartTotal">Precio total: $0</p>
          <a href="/shop/cart" class="btn btn-primary">Pagar</a>
        </div>
      </div>
    </div>
  </div>


  <nav class="nav-container row">
    <div class="col-1"></div>
    <div class="col-2 coll">
      <a href="/"><img src="/img/logo-480x.png" alt="" height="50px"></a>
    </div>
    <div class="col-4 colm">
      <form action="/shop" method="get">
        <input type="text" name="product" placeholder="Nombre del producto o descripción" class="form-control">
        <input type="text" name="lang" value="es" style="display: none;">
        <input type="submit" value="Buscar" class="btn btn-primary">
      </form>
    </div>
    <div class="col-4 colr">
      <a href="/news" class="nav-btn">Noticias</a>
      <a href="/shop" class="nav-btn">Tienda</a>
      <a href="/bans" class="nav-btn">Baneos</a>
      <a href="https://www.40servidoresmc.es/nasgar-network-votar" class="nav-btn" target="_blank">Votar</a>
      <% if(user) {%>
      <a class="nav-btn" href="/panel">
        <%- user.username %>
      </a>
      <% } else { %>
      <a class="nav-btn" href="/login">Login</a>
      <% } %>
    </div>
    <div class="col-1"></div>
  </nav>

  <div class="left-container unactive" id="left-container">
    <div class="leftBTNC">
      <i id="leftBTN" class="fa-solid fa-forward-step"></i>
    </div>
    <ul>
      <hr>
      <li><a class="optionTitle1" href="/">Inicio</a></li>
      <li><a class="optionTitle1" href="/panel">Panel</a></li>

      <hr>


      <li>
        <p for="customRange1" class="form-label" id="priceRange">Precio Máximo: </p>
        <input type="range" class="form-range" id="priceRangeVar" name="maxPrice">
        <a href="/shop" class="btn btn-primary" style="width: 100%;" id="max-btn">Encontrar</a>

      </li>
      <hr>


      <script>
        const range = document.getElementById("priceRangeVar")
        const priceRange = document.getElementById("priceRange")
        const find = document.getElementById("max-btn")
        setInterval(() => {
          priceRange.textContent = "Precio máximo: $" + document.getElementById("priceRangeVar").value + " usd"
          find.attributes.href.value = ('/shop/?max=' + document.getElementById("priceRangeVar").value) + (userLang.toLowerCase().includes('es') ? "&lang=es" : "")
        }, 10);
      </script>

      <li>
        <a class="optionTitle1" href="/shop">Categorías</a>
      </li>

      <% console.log(all) %>

      <%
      const types = new Map()

      

      all.forEach(item => {
        if(!types.has(item.es.categories[0]) && item.es.categories[0] != "") types.set(item.es.categories[0], new Map())

        const type1 = types.get(item.es.categories[0])

        if(!type1.has(item.es.categories[1]) && item.es.categories[1] != "") {
          type1.set(item.es.categories[1], new Map())
          const type2 = type1.get(item.es.categories[1])
          if(!type2.has(item.es.categories[2]) && item.es.categories[2] != "") {
            type2.set(item.es.categories[2], new Map())
          }
        }
      }); 
      %>

      <% [...types.keys()].forEach(key => {  %>
      <% if(key == pos[0]) {%>
      <li><a class="option1" href="/shop?type1=<%- key %>&lang=es"><%- key %></a></li>


      <% [...types.get(key).keys()].forEach(subkey => {  %>
      <% if(subkey == pos[1]) {%>
      <li><a class="option2" href="/shop?type1=<%- key %>&type2=<%- subkey %>&lang=es"><%- subkey %></a></li>


      <% [...types.get(key).get(subkey).keys()].forEach(subsubkey => {  %>
      <% if(subsubkey == pos[2]) {%>
      <li><a class="option3" href="/shop?type1=<%- key %>&type2=<%- subkey %>&type3=<%- subsubkey %>&lang=es"><%- subsubkey %></a></li>

      <% } else { %>
      <li><a class="option3" href="/shop?type1=<%- key %>&type2=<%- subkey %>&type3=<%- subsubkey %>&lang=es"><%- subsubkey %></a></li>
      <% } %>

      <% }) %>



      <% } else { %>
      <li><a class="option2" href="/shop?type1=<%- key %>&type2=<%- subkey %>&lang=es"><%- subkey %></a></li>
      <% } %>

      <% }) %>

      <% } else { %>
      <li><a class="option1" href="/shop?type1=<%- key %>&lang=es"><%- key %></a></li>
      <% } %>

      <% }) %>
      <hr>



    </ul>
  </div>

  <main>
    <div class="row">
      <div class="col-12">
        <a href="<%- ref %> " class="btn btn-primary"><i class="fa-solid fa-arrow-left"></i> Atrás</a>
      </div>
      <% content.forEach( news=> { %>
      <div class="col-4">
        <div class="card" data-aos="zoom-out-down" data-bs-toggle="modal" data-bs-target="<%- "#modal_"+news.id %>">
          <div class="card-body">
            <div>
              <img src="<%- news.es.image %> " alt="" width="250px" height="250px">
            </div>
            <h5 class="card-title">
              <%- news.es.name %>
            </h5>
            <button type="button" class="btn btn-primary">
              $<%- news.price %> usd
            </button>
            <button type="button" class="btn btn-outline-primary">
              Añadir al carro
            </button>
          </div>
        </div>
      </div>

      <% }) %>
    </div>
    <div class="separator"></div>
  </main>

  <% content.forEach(ban=>{ %>
  <div class="modal fade" id="<%- "modal_"+ban.id %>" tabindex="-1" aria-labelledby="<%- "modal_"
                +ban.id+"_Label" %> " aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="<%- " modal_"+ban.id+"_Label" %>"><%- ban.es.name%> </h5>
          <button type=" button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <p>
            <%- ban.es.description %>
          </p>
          <% if (user) {%>
          <div id="<%- `item-${ban.id}` %>"></div>
          <% } else { %>
          <p><strong>Debes estar registrado para poder comprar algo!</strong></p>
          <% } %>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary" id="<%- `itemCart-${ban.id}` %>">
            Añadir al carrito
          </button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Okay!</button>
        </div>
      </div>
    </div>
  </div>
  <% }) %>


  <script>
    AOS.init();
    const leftBTN = document.getElementById("leftBTN")
    const left = document.getElementById("left-container")
    left.addEventListener('click', () => {
      if (left.classList.contains('active')) left.classList.replace('active', 'unactive')
      else left.classList.replace('unactive', 'active')
    })
  </script>
</body>

<script>
  function getCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for (var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') c = c.substring(1, c.length);
      if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
    }
    return null;
  }

  let cart = getCookie("cartItems") ? JSON.parse(getCookie("cartItems")) : []
</script>

<% if(user) {%>
<% content.forEach( news=> { %>
<script>
  paypal.Buttons({
    createOrder: function(data, actions) {
      // Set up the transaction
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: "<%- `${news.price}` %>"
          }
        }]
      });
    },
    onApprove: function(data, actions) {
      // This function captures the funds from the transaction.
      return actions.order.capture().then(function(details) {
        // This function shows a transaction success message to your buyer.
        const body = {
          details: details,
          user: <%- user ? JSON.stringify(user._doc.username) : 'null' %>,
          products: [<%- news.id%>]
        }
        fetch('/shop/verify', {
          method: 'POST',
          body: JSON.stringify(body)
        })
      });
    }

  }).render('<%- `#item-${news.id}` %>');

  <% news._id = null %>
  <% news.createdAt = null %>

  document.getElementById('<%- `itemCart-${news.id}` %>').addEventListener('click', (ev) => {
    cart.push({
      product: <%- news %>,
      productID: "<%- news.id%>"
    })
    const thisb = document.getElementById('<%- `itemCart-${news.id}` %>')
    thisb.textContent = "Elemento añadido al carrito!"
    setTimeout(() => {
      thisb.textContent = "Añadir al carrito"

    }, 2000);
  })
</script>
<% })} %>

<script>
  setInterval(() => {
    const cartNumber = document.getElementById("cart-number")
    cartNumber.textContent = cart.length
    const unrealCart = new Map()

    cart.forEach(p => {
      if (unrealCart.has(p.product.id)) {
        const v = unrealCart.get(p.product.id)
        v.quantity += 1
        unrealCart.set(p.product.id, v)
      } else {
        p.quantity = 1
        unrealCart.set(p.product.id, p)
      }
    })

    document.cookie = `cartItems=${JSON.stringify(cart)}`


  }, 500);

  const cartModal = document.getElementById("cartModal")
  const cartPrice = document.getElementById("cartTotal")
  const checkoutContainer = document.getElementById("checkoutContainer")
  cartModal.addEventListener('shown.bs.modal', () => {
    const cartBody = document.getElementById("cartBody");

    [...document.getElementsByClassName("cart-item")].map(c => c.remove())

    const unrealCart = new Map()

    cart.forEach(p => {
      if (unrealCart.has(p.product.id)) {
        const v = unrealCart.get(p.product.id)
        v.quantity += 1
        unrealCart.set(p.product.id, v)
      } else {
        p.quantity = 1
        unrealCart.set(p.product.id, p)
      }
    })



    unrealCart.forEach(p => {
      var html = `          <div class="cart-item row" id="${p.product.id}">
            <hr>
            <div class="cart-img col-2">
              <img src="${p.product.es.image}" alt="" width="64" height="64">
            </div>
            <div class="col-5 cart-text" style="display: flex; justify-content: left; align-items: center;">
              <div>
                <strong>${p.product.es.name}</strong>
                <p style="font-weight: lighter !important;">${p.product.es.description.length >= 20 ?  p.product.es.description.slice(0,20)+"..." : p.product.es.description}</p>
              </div>
            </div>
            <div class="col-2" style="display: flex; justify-content: center; align-items: center;">
              <p>$${p.product.price}</p>
            </div>
            <div class="col-1" style="display: flex; justify-content: center; align-items: center; text-align:center">
              <p>x${p.quantity}</p>
            </div>
            <div class="col-2" style="display: flex; justify-content: center; align-items: center;">
              <div class="deleteCartItem btn btn-danger cid-${p.product.id}" onclick=removeItem(${p.product.id})>
                -
              </div>
            </div>
            <hr>
          </div>`;
      cartBody.insertAdjacentHTML('afterbegin', html)
    })



    cartPrice.textContent = `Total Price: $${cart.reduce((prev,now)=>{
      return prev += now.product.price
    }, 0)}`

  })
</script>




</html>