<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nasgar | Shop</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/panel.css">
  <link rel="stylesheet" href="/css/sup.css">
  <link rel="shortcut icon" href="/img/logo-128x.png" type="image/x-icon">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Nasgar.online">
  <meta name="og:title" content="Nasgar Network!">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="og:icon" content="/img/logo-128x.png">
  <meta name="description" content="description">
  <meta name="og:description" content="description">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <style>
    li p {
      margin-top: 20px;
      margin-bottom: 0px;
      color: rgba(240, 248, 255, 0.507);
    }

    ul li {
      margin: 0px 10px;
      text-align: left !important;
    }

    .categoryT,
    .categoryT2 {
      color: rgba(240, 248, 255, 0.507);
      padding: 0px !important;
    }

    .categorySub1 a {
      margin: 0px 10px 0px 15px;

    }

    .categorySub1 {
      padding-bottom: 0px !important;
    }

    .categorySub2 a {
      margin: 0px 10px 0px 25px;

    }

    .categorySub2 {
      padding-bottom: 0px !important;
    }

    .categoryT2 {
      margin: 0px 10px 0px 25px !important;
    }


    .card-body {
      transition-duration: 0.3s;
    }

    .card-body:hover {
      bottom: 30px;
      transform: translateY(-10px);
      font-weight: bolder !important;
    }

    .left-container {
      overflow-y: scroll;
    }

    ::-webkit-scrollbar {
      width: 7px;
    }

    ::-webkit-scrollbar-thumb {
      background: #1F4068;
    }

    @media (max-width: 768px) {
      li p {
        font-size: 15px;
      }
    }
  </style>
  <script src="https://www.paypal.com/sdk/js?client-id=<%- paypalClient %>&components=buttons"></script>

  <script>
    var userLang = navigator.language || navigator.userLanguage;
  </script>


  <% if(!translate && user) {%>
  <script>
    userLang = user.lang
  </script>
  <% } %>

  <% if(!user && !translate){ %>
  <script type="text/javascript">
    var userLang = navigator.language || navigator.userLanguage;
    if (userLang.toLowerCase().includes('es')) window.location.assign('/shop?lang=es')
  </script>
  <% } %>

</head>

<body>
  <nav class="nav-container row">
    <div class="col-1"></div>
    <div class="col-2 coll">
      <a href="/"><img src="/img/logo-480x.png" alt="" height="50px"></a>
    </div>
    <div class="col-4 colm">
      <form action="/shop" method="get">
        <input type="text" name="product" placeholder="Product name or description" class="form-control">
        <input type="submit" value="Search" class="btn btn-primary">
      </form>
    </div>
    <div class="col-4 colr">
      <a href="/news" class="nav-btn">News</a>
      <a href="/shop" class="nav-btn">Shop</a>
      <a href="/bans" class="nav-btn">Bans</a>
      <a href="https://www.40servidoresmc.es/nasgar-network-votar" class="nav-btn" target="_blank">Vote</a>
      <% if(user) {%>
      <a class="nav-btn" href="/panel">
        <%- user.username %>
      </a>
      <% } else { %>
      <a class="nav-btn" href="/login">Login</a>
      <% } %>
    </div>
    <div class="col-1"></div>
  </nav>

  <div class="left-container unactive" id="left-container">
    <div class="leftBTNC">
      <i id="leftBTN" class="fa-solid fa-forward-step"></i>
    </div>
    <ul>
      <hr>
      <li><a class="optionTitle1" href="/">Home</a></li>
      <li><a class="optionTitle1" href="/panel">Panel</a></li>

      <hr>


      <li>
        <p for="customRange1" class="form-label" id="priceRange">Max Price: </p>
        <input type="range" class="form-range" id="priceRangeVar" name="maxPrice">
        <a href="/shop" class="btn btn-primary" style="width: 100%;" id="max-btn">Find</a>

      </li>
      <hr>


      <script>
        const range = document.getElementById("priceRangeVar")
        const priceRange = document.getElementById("priceRange")
        const find = document.getElementById("max-btn")
        setInterval(() => {
          priceRange.textContent = "Max Price: $" + document.getElementById("priceRangeVar").value + " usd"
          find.attributes.href.value = ('/shop/?max=' + document.getElementById("priceRangeVar").value) + (userLang.toLowerCase().includes('es') ? "&lang=es" : "")
        }, 10);
      </script>

      <li>
        <a class="optionTitle1" href="/shop">Product Category</a>
      </li>


      <%
      const types = new Map()
      all.forEach(item => {
        if(!types.has(item.categories[0]) && item.categories[0] != "") {

          types.set(item.categories[0], new Map())

          const type1 = types.get(item.categories[0])

          if(!type1.has(item.categories[1]) && item.categories[1] != "") {
            type1.set(item.categories[1], new Map())
            const type2 = type1.get(item.categories[1])
            if(!type2.has(item.categories[2]) && item.categories[2] != "") {
              type2.set(item.categories[2], new Map())
            }
          }
        }
      }); 
      %>

      <% [...types.keys()].forEach(key => {  %>
      <% if(key == pos[0]) {%>
      <li><a class="option1" href="/shop?type1=<%- key %>"><%- key %></a></li>


      <% [...types.get(key).keys()].forEach(subkey => {  %>
        <% if(subkey == pos[1]) {%>
          <li><a class="option2" href="/shop?type1=<%- key %>&type2=<%- subkey %>"><%- subkey %></a></li>


          <% [...types.get(key).get(subkey).keys()].forEach(subsubkey => {  %>
            <% if(subsubkey == pos[2]) {%>
              <li><a class="option3" href="/shop?type1=<%- key %>&type2=<%- subkey %>&type3=<%- subsubkey %>"><%- subsubkey %></a></li>
        
            <% } else { %>
              <li><a class="option3" href="/shop?type1=<%- key %>&type2=<%- subkey %>&type3=<%- subsubkey %>"><%- subsubkey %></a></li>
            <% } %>
      
          <% }) %>


    
        <% } else { %>
          <li><a class="option2" href="/shop?type1=<%- key %>&type2=<%- subkey %>"><%- subkey %></a></li>
        <% } %>
  
      <% }) %>

      <% } else { %>
      <li><a class="option1" href="/shop?type1=<%- key %>"><%- key %></a></li>
      <% } %>

      <% }) %>
      <hr>



    </ul>
  </div>

  <main>
    <div class="row">
      <div class="col-12">
        <a href="<%- ref %> " class="btn btn-primary"><i class="fa-solid fa-arrow-left"></i> Back</a>
      </div>
      <% content.forEach( news=> { %>
      <div class="col-4">
        <div class="card" data-aos="zoom-out-down" data-bs-toggle="modal" data-bs-target="<%- "#modal_"+news.id %>">
          <div class="card-body">
            <div>
              <img src="<%- news.image %> " alt="" width="250px" height="250px">
            </div>
            <h5 class="card-title">
              <%- news.name %>
            </h5>
            <button type="button" class="btn btn-primary">
              $<%- news.price %> usd
            </button>
          </div>
        </div>
      </div>

      <% }) %>
    </div>
    <div class="separator"></div>
  </main>

  <% content.forEach(ban=>{ %>
  <div class="modal fade" id="<%- "modal_"+ban.id %>" tabindex="-1" aria-labelledby="<%- "modal_"
                +ban.id+"_Label" %> " aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="<%- " modal_"+ban.id+"_Label" %>"><%- ban.name%> </h5>
          <button type=" button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <p>
            <%- ban.description %>
          </p>
          <% if (user) {%>
          <div id="<%- `item-${ban.id}` %>"></div>
          <% } else { %>
          <p><strong>You must have a registered account before making a purchase</strong></p>
          <% } %>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Okay!</button>
        </div>
      </div>
    </div>
  </div>
  <% }) %>


  <script>
    AOS.init();
    const leftBTN = document.getElementById("leftBTN")
    const left = document.getElementById("left-container")
    left.addEventListener('click', () => {
      console.log('a')
      if (left.classList.contains('active')) left.classList.replace('active', 'unactive')
      else left.classList.replace('unactive', 'active')
    })
  </script>
</body>

<% if(user) {%>
<% content.forEach( news=> { %>
<script>
  paypal.Buttons({
    createOrder: function(data, actions) {
      // Set up the transaction
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: "<%- `${news.price}` %>"
          }
        }]
      });
    },
    onApprove: function(data, actions) {
      // This function captures the funds from the transaction.
      return actions.order.capture().then(function(details) {
        // This function shows a transaction success message to your buyer.
        const body = {
          details: details,
          user: <%- user ? JSON.stringify(user._doc.username) : 'null' %>,
          productID: <%- news.id%>
        }
        fetch('/shop/verify', {
          method: 'POST',
          body: JSON.stringify(body)
        })
      });
    }

  }).render('<%- `#item-${news.id}` %>');
</script>
<% })} %>

</html>